body{
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	}

img{
	max-width: 25%;
}

/*--layout--*/
body{
		display: grid;
		grid-template-areas: 
			"fejlectop"
			"fejlec"
			"kontent"
			"lablec"
		;
		grid-template-rows: max-content 1fr max-content;
		min-height: 100vh;
		position: relative;
	}
	
	}
	header{
		grid-area: fejlec;
	}
	main{
		grid-area: kontent;
	}
	footer{
		grid-area: lablec;
	}

/*--layout_end--*/

/*--header--*/
.fejlec_top{
	display: block;
	background-color: black;
	text-align: center;
	padding: 2rem;
	}

}
.vissza_gomb{
	margin-left: 1rem;
	font-size: 20px;
	margin-bottom: 2rem;
	max-width: max-content;
	padding-top: 1rem;
	text-align: center;

}
.gomb{
	display: inline;
	margin-right: 3rem;
	padding: .5rem;
	
}
a{
	text-decoration: none;
	color: white;
}
.gomb:hover{
		cursor: pointer;
		background-color: grey;
		border-radius: 2rem;
		
}
.gomb2{
	display: inline;
	padding: .5rem;
	
}
.gomb2:hover{
	cursor: pointer;
	background-color: grey;
	
	border-radius: 2rem;
}





/*--header_end--*/
/*--main--*/
	
main{
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	
	;
}
.kep{
	
}
.bemutatkozas{
	display: flex;
	flex-wrap: wrap;
	background-color: #eee;
	padding-top: 2rem;
	padding-bottom: 4rem;
	padding-right: 8rem;
	padding-left: 8rem;
	margin-left: 4rem; 
	margin-top: 5rem;
	margin-bottom: 3rem;
	text-align: justify;
	text-align: center;
	letter-spacing: 3px;
}
.bemutatkozas span{
	font-size: 20px;
	padding: 1rem;
}
.kep{
	text-align: center; 
	margin-top: 5rem;
	margin-bottom: 3rem;
}
.kep img{
	max-width: 10rem;
	padding-top: 10rem;
}
.kep img:hover{
	cursor: pointer;

}
/*--main_end--*/
 
/*--footer--*/
footer{
	background-color: black;
}

.contact{
	font-size: 10px;
	text-align: center;
	color: #ffffff;
}
.instagram:hover{
	cursor: pointer;
	text-decoration: underline;
}
.facebook:hover{
	cursor: pointer;
	text-decoration: underline;
}
.email:hover{
	cursor: pointer;
	text-decoration: underline;
}
/*--footer_end--*/


	#szelesseg{
	  color: #000000;
	  font-size: .8rem;
	  padding: 5px;
	  background-color: #f3ff69;

	}

	